doctype
html
	head
		title WebStartKit
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/style.css")
	body
		.container
			h1 WebStartKit

