doctype
html
	head
		title Vevo Food
		link(rel="stylesheet" href="css/grid.css")
		link(rel="stylesheet" href="css/style.css")
	body
		.container
			.row
				.col-lg-2.col-sm-4.col-xs-12 1
				.col-lg-2.col-sm-4.col-xs-12 2
				.col-lg-2.col-sm-4.col-xs-12 3
				.col-lg-2.col-sm-4.col-xs-12 4
				.col-lg-2.col-sm-4.col-xs-12 5
				.col-lg-2.col-sm-4.col-xs-12 6
			.row
				.col-lg-4.col-sm-12.col-xs-12.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, provident quibusdam! Voluptatem quas dolores, quam.
				.col-lg-4.col-sm-12.col-xs-12.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nulla possimus at voluptas mollitia sequi.
				.col-lg-4.col-sm-12.col-xs-12.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero accusamus est quibusdam harum, molestias ea!